<body>

    <div class="container">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <div class="card rounded shadow py-5">
                    <div class="row d-flex align-items-center justify-content-center">
                        <input type="file" id="inputImagen" class="d-none" (change)="onFileSelected($event)" accept="image/*" #photoInput>
                        <div class="text-center fs-2 mb-2">
                            <strong>  Imagen de la Plaga</strong>
                        </div>
                        <div class="text-center">
                            <img [src]="base64Imagen || 'assets/campo.png'" class="img" alt="No image">
                        </div>
                        <div class="mt-3">
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-warning mx-2 custom-btn-edit" (click)="photoInput.click()">
                                    <i class="bi bi-pencil"></i> Editar
                                </button>
                                <button class="btn btn-danger mx-2 custom-btn-deleted" (click)="eliminarImagen()">
                                    
                                    <i class="bi bi-trash"></i> Eliminar
                                </button>
                            </div>
                        </div>
                        
                   </div>
                   </div>
                   <div class="row justify-content-center">  
                    <div class="col-md-10">
                        <form [formGroup]="forma" (ngSubmit)="guardar()">
                            <!-- Campos del formulario -->
                            <div class="card rounded shadow py-4 row">
                                <div class="row justify-content-center">    
                                    <div class="text-center fs-2 mb-2">
                                        <strong>  Informacion General </strong>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="Nombre" class="col-md-2 col-form-label"> <strong> Nombre:</strong></label>
                                        <div class="col-md-9">
                                            <input formControlName="Nombre" type="text" class="form-control mt-1" id="Nombre" placeholder="Nombre conocido de la plaga">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="causa" class="form-label"><strong>Causa de la Plaga</strong></label>
                                        <textarea formControlName="Causa" class="form-control" id="metodooptimodesiembra" placeholder="Breve explicación de lo que origina o propaga la plaga en el cultivo" rows="4"></textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label for="efecto" class="form-label"><strong>Efecto que produce</strong></label>
                                        <textarea formControlName="Efecto" class="form-control" id="efecto" placeholder=" Descripción sucinta de los daños o efectos negativos que la plaga causa en el cultivo" rows="4"></textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label for="medidasPreventivas" class="form-label"><strong>Medidas Preventivas</strong></label>
                                        <textarea formControlName="Medidas_Preventivas" class="form-control" id="medidaspreven" placeholder="Breve enumeración de las acciones que se pueden tomar para prevenir la aparición o controlar la propagación de la plaga" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="card rounded shadow py-4 row">
                                <div class="row justify-content-center">    
                                    <div class="text-center fs-2 mb-2">
                                        <strong>  Control y Manejo </strong>
                                    </div>
                                    <div class="mb-3">
                                        <label for="metocontrol" class="form-label"><strong>Metodos de Control</strong></label>
                                        <textarea formControlName="Metodos_de_Control" class="form-control" id="metodooptimodesiembra" placeholder="incluir información sobre métodos de control integrado de plagas y enfermedades, como el uso de pesticidas biológicos, químicos o culturales, así como técnicas de control físico" rows="4"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="ciclodevida" class="form-label"><strong>Ciclo de vida</strong></label>
                                        <textarea formControlName="Ciclo_de_Vida" class="form-control" id="ciclodevida" placeholder="Descripción del ciclo de vida de la plaga o enfermedad, incluyendo etapas clave como huevo, larva/ninfas, pupa y adulto, así como la duración de cada etapa" rows="4"></textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label for="identificacion" class="form-label"><strong>Identificacion</strong></label>
                                        <textarea formControlName="Identificacion" class="form-control" id="identi" placeholder="Detalles sobre cómo identificar la plaga o enfermedad en diferentes etapas de su ciclo de vida" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                          
                            <button class="btn btn-custom btn-lg btn-block custom-btn-save" type="submit">  <i class="bi bi-save"></i> Guardar</button>
                              
                          </form>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-6">
                            <div *ngIf="mensaje" class="alert alert-dismissible fade show" [ngClass]="{'alert-success': mensaje.success, 'alert-danger': !mensaje.success}" role="alert">
                                {{ mensaje.texto }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="limpiarMensaje()"></button>
                            </div>
                        </div>
                    </div>
                </div>
                
                </div>

</div>

