<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultivos</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Add your custom CSS here -->
    <style>
        /* Add your custom styles here */
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4 titulo">Plagas</h1>
        <div class="input-group mb-5">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-search"></i></span>
          </div>
          <input type="text" [(ngModel)]="filtro" class="form-control" placeholder="Buscar plaga...">
      </div>
        <div class="row">
          <div class="col-md-4" *ngFor="let plaga of filtrarPlagas()">
            <div class="card mb-3">
                <img [src]="plaga.Imagen ?? 'ruta_por_defecto.jpg'" class="card-img-top" alt="{{ plaga.Nombre }}">
             
              <div class="card-body">
            
                <h5 class="card-title text-center p">{{ plaga.Nombre }}</h5>
              </div>
              <div class="card-body ">
                <a routerLink="/editor-nav/editar-plaga/{{ plaga.ID_Plaga }}" class="btn btn-margin custom-btn-edit" role="button" aria-pressed="true">
                  <i class="bi bi-pen">Editar</i>
               
                </a>
                
                <a  class="btn custom-btn-deleted" role="button" aria-pressed="true" *ngIf="plaga.ID_Plaga !== undefined" (click)="delete(plaga.ID_Plaga)">
                    <i class="bi bi-trash">Eliminar</i>
                </a>
              </div>
            </div>
          </div>
          <div class="text-center" *ngIf="filtrarPlagas().length === 0">
            <div style="font-size: 4rem;">
                <i class="bi bi-emoji-frown" style="font-size: 8rem;"></i> <!-- Icono triste -->
                <p><strong>No se encontraron resultados.</strong></p>
            </div>
        </div>
          <div class="col-md-4">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <a href="/editor-nav/agregar-plagas" class="btn btn-circle custom-btn mb-5" role="button" aria-pressed="true">
                        <i class="bi bi-plus-circle" style="font-size: 220px;"></i>
                    </a>
                    <h5 class="card-title ps"> Añadir </h5>
                </div>
            </div>
          </div>
        </div>
      </div>
      
</body>
</html>